.action-box {
  max-width: 800px;
  margin: 50px auto auto;
  border: 1px solid black;
  padding: 30px;
}

.shorten-form h1 {
  font-size: 24px;
}

.shorten-form label {
  display: block;
  font-size: 14px;
  margin: 20px auto 15px;
}

.shorten-form [type="text"] {
  width: 450px;
  margin-right: 30px;
}

.shorten-form [type="submit"] {
  background-color:	rgb(54, 141, 247);
  color: white;
  padding: 3px 20px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 16px;
}