.action-box {
  max-width: 800px;
  margin: 50px auto auto;
  border: 1px solid black;
  padding: 30px;
}

.action-box h1 {
  font-size: 24px;
}

.shorten-form label {
  display: block;
  font-size: 14px;
  margin: 20px auto 15px;
}

.shorten-form [type="text"] {
  width: 450px;
  margin-right: 30px;
}

.shorten-form [type="submit"] {
  background-color:	rgb(54, 141, 247);
  color: white;
  padding: 3px 20px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 16px;
}

#output span.short-url {
  border: 1px solid black;
  display: inline-block;
  width: 60%;
  padding: 10px 15px;
}

#output button {
  background-color:	rgb(54, 141, 247);
  color: white;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid black;
  border-radius: 3px;
  margin-left: 10px;
}

#output h2 {
  font-size: 18px;
}

.context {
  max-width: 800px;
  margin: 50px auto auto;
}

.context h2 {
  text-align: center;
}

.gallery {
  display: flex;
  justify-content: space-around;
}

.gallery-item {
  width: 200px;
  height: auto;
  text-align: center;
}

img {
  max-width: 100%;
}

.loading-img {
  height: 200px
}